%section#hero2.wow.fadeIn
  .hero-container2
    .container
      .row.login
        .col-md-9
          - @blogs.each_slice(3) do |i|
            .row
              - i.each do |j|
                .col-md-3
                  .panel.panel-default
                    .panel-heading
                      = j.title
                    .panel-body
                      = j.description.html_safe
          
        .col-md-3
          = link_to 'New BLog',new_blog_path
          
