= render 'layouts/partials/sec'
= render 'layouts/partials/sec2'
.owl-carousel.owl-theme
  .item
    .panel.panel-default
      .panel-body
        %p.owl
          AADVI Technology is group of fresh and talented member. Our Vision & mission is to develop unique, original and responsive websited for the clients.
  .item
    .panel.panel-default
      .panel-body
        %p.owl
          Our website designer and developer in Banglore are trained for developing fresh, modern and customised websites which are intutive and make your product or service stand out.
  .item
    .panel.panel-default
      .panel-body
        %p.owl
          One of the best website development & creative digital marketing company, enrich with talented and creative's personality.
  .item
    .panel.panel-default
      .panel-body
        %p.owl
          Our motto is to grow along with our clients. We walk together to achieve your organisations goals with great ideas and technology.
= render 'layouts/partials/contact'
