%footer.footer
  .container
    .row
      .col-md-12.col-lg-4
        .footer-logo
          %a.navbar-brand{:href => "#"} eStartup
          %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.
      .col-sm-6.col-md-3.col-lg-2
        .list-menu
          %h4 Abou Us
          %ul.list-unstyled
            %li
              %a{:href => "#"} About us
            %li
              %a{:href => "#"} Features item
            %li
              %a{:href => "#"} Live streaming
            %li
              %a{:href => "#"} Privacy Policy
      .col-sm-6.col-md-3.col-lg-2
        .list-menu
          %h4 Abou Us
          %ul.list-unstyled
            %li
              %a{:href => "#"} About us
            %li
              %a{:href => "#"} Features item
            %li
              %a{:href => "#"} Live streaming
            %li
              %a{:href => "#"} Privacy Policy
      .col-sm-6.col-md-3.col-lg-2
        .list-menu
          %h4 Support
          %ul.list-unstyled
            %li
              %a{:href => "#"} faq
            %li
              %a{:href => "#"} Editor help
            %li
              %a{:href => "#"} Contact us
            %li
              %a{:href => "#"} Privacy Policy
      .col-sm-6.col-md-3.col-lg-2
        .list-menu
          %h4 Abou Us
          %ul.list-unstyled
            %li
              %a{:href => "#"} About us
            %li
              %a{:href => "#"} Features item
            %li
              %a{:href => "#"} Live streaming
            %li
              %a{:href => "#"} Privacy Policy
  