%header#header.header.header-hide
  .container.navigation
    #logo.pull-left
      %h1
        %a.scrollto{:href => "#body"}
          %span> Aadvi
          Digital
      / Uncomment below if you prefer to use an image logo
      / <a href="#body"><img src="img/logo.png" alt="" title="" /></a>
    %nav#nav-menu-container
      %ul.nav-menu
        %li.menu-active
          %a{:href => "#hero"} Home
       
          %a{:href => "#team"} Team
        
        %li.menu-has-children
          %a{:href => ""} More
          %ul
            %li
              %a{:href => "#"} Blog
            %li
              %a{:href => "#"} Drop Down 3
            %li
              %a{:href => "#"} Drop Down 4
            %li
              %a{:href => "#"} Drop Down 5
      
        %li
          %a{:href => ""}
            %i.fa.fa-phone  +918310675468
