%section#hero.wow.fadeIn
  .hero-container
    %h1 Welcome to Aadvi Technologies
    %h2 Boost your bussiness with us
    = image_tag("hero-img.png")

    %a.btn-get-started.scrollto{:href => "#get-started"} Get Started

/ #hero

