%section#get-started.padd-section.text-center.wow.fadeInUp
  .container
    .section-title.text-center
      %h2 Why Digital marketing?
      %p.separator
        Digital marketing has changed the marketing mix for Business – changing the way
        marketers communicate. Successful marketing strategies demand the right consumer
        insights and channel selection as the media landscape continues shifting. We are excited
        to have started the new financial year with increased focus on digital and social media
        and are glad to join hands with Langoor. This is a key medium to drive consumption
        habits and develop great content on fresh natural food. We look forward to strategizing
        and executing disruptive digital and socials campaigns with them for the brand”
  .container
    .row
      .col-md-6.col-lg-4
        .feature-block
          = image_tag("svg/cloud.svg",class: 'img-fluid') 
          %h4 Offline Marketing
          %li branding
          %li promotion
          %li awareness
          %li marketing collateral

      .col-md-6.col-lg-4
        .feature-block
          = image_tag("svg/planet.svg",class: 'img-fluid') 
          %h4 online marketing
          %li social media marketing
          %li Google AdWords
          %li SEO
          %a{:href => "#"} read more
      .col-md-6.col-lg-4
        .feature-block
          = image_tag("svg/asteroid.svg",class: 'img-fluid') 
          %h4 Design
          %p 
            Responsive Single Page Website Design– Create stunning and beautiful website
            in minutes
          %a{:href => "#"} read more
