%section#get-started.padd-section.text-center.wow.fadeInUp
  .container
    .section-title.text-center
      %h2 simple systeme fordiscount
      %p.separator Integer cursus bibendum augue ac cursus .
  .container
    .row
      .col-md-6.col-lg-4
        .feature-block
          = image_tag("svg/cloud.svg",class: 'img-fluid') 
          %h4 introducing whatsapp
          %p Lorem Ipsum is simply dummy text of the printing and typesetting industry
          %a{:href => "#"} read more
      .col-md-6.col-lg-4
        .feature-block
          = image_tag("svg/planet.svg",class: 'img-fluid') 
          %h4 user friendly interface
          %p Lorem Ipsum is simply dummy text of the printing and typesetting industry
          %a{:href => "#"} read more
      .col-md-6.col-lg-4
        .feature-block
          = image_tag("svg/asteroid.svg",class: 'img-fluid') 
          %h4 build the app everyone love
          %p Lorem Ipsum is simply dummy text of the printing and typesetting industry
          %a{:href => "#"} read more
