%section#hero.wow.fadeIn
  .hero-container2
    %h1 Welcome to Advi Digital
    %h2 Boost your Business with us...

    
    //%a.btn-get-started.scrollto{:href => "#get-started"} Get Started
    //.btns
    //  %a{:href => "#"}
    //    %i.fa.fa-apple.fa-3x
    //    App Store
    //  %a{:href => "#"}
    //    %i.fa.fa-play.fa-3x
    //    Google Play
    //  %a{:href => "#"}
    //    %i.fa.fa-windows.fa-3x
    //    windows


