%section#team.padd-section.text-center.wow.fadeInUp
  .container
    .section-title.text-center
      %h2 Team Member
      %p.separator Integer cursus bibendum augue ac cursus .
  .container
    .row
      .col-md-6.col-md-4.col-lg-3
        .team-block.bottom
          %img.img-responsive{:alt => "img", :src => "img/team/1.jpg"}/
          .team-content
            %ul.list-unstyled
              %li
                %a{:href => "#"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#"}
                  %i.fa.fa-linkedin
            %span manager
            %h4 Kimberly Tran
      .col-md-6.col-md-4.col-lg-3
        .team-block.bottom
          %img.img-responsive{:alt => "img", :src => "img/team/2.jpg"}/
          .team-content
            %ul.list-unstyled
              %li
                %a{:href => "#"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#"}
                  %i.fa.fa-linkedin
            %span manager
            %h4 Kimberly Tran
      .col-md-6.col-md-4.col-lg-3
        .team-block.bottom
          %img.img-responsive{:alt => "img", :src => "img/team/3.jpg"}/
          .team-content
            %ul.list-unstyled
              %li
                %a{:href => "#"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#"}
                  %i.fa.fa-linkedin
            %span manager
            %h4 Kimberly Tran
      .col-md-6.col-md-4.col-lg-3
        .team-block.bottom
          %img.img-responsive{:alt => "img", :src => "img/team/4.jpg"}/
          .team-content
            %ul.list-unstyled
              %li
                %a{:href => "#"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#"}
                  %i.fa.fa-linkedin
            %span manager
            %h4 Kimberly Tran
